td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}


.availability-status {
  text-align: right;
  color: #f59292;
  font-size: 1em;
}

.header {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  padding: 1em 0 0.1em;
  color: #494949;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 1em;
}
